<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fmarcheni.projetoaula">

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_menu_laucher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="aula.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="0" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.fmarcheni.projetoaula.model.User" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"

            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".CreateUserActivity"></activity>
    </application>

</manifest>